<app-parts [parts]="parts | async" (selectPart)="select($event)" (highlight)="highlight($event)" [highlighted]="clicked$ | async"></app-parts>
<div class="controls">
  <button (click)="reset()">Reset: Z</button>
  <span>Hide: H</span>
  <span>Delete: D</span>
  <a rel="ar" href="/assets/engine.usdz">iOS AR</a>
<!--  <a href="intent://arvr.google.com/scene-viewer/1.1?file=https://green-sky-080a5d803.azurestaticapps.net/assets/engine.obj#Intent;scheme=https;package=com.google.android.googlequicksearchbox;action=android.intent.action.VIEW;S.browser_fallback_url=https://developers.google.com/ar;end;">Android AR</a>-->
</div>
<canvas #ref></canvas>
