<app-parts [parts]="parts | async" (selectPart)="select($event)" (highlight)="highlight($event)" [highlighted]="clicked$ | async"></app-parts>
<div class="controls">
  <button (click)="reset()">Reset: Z</button>
  <span>Hide: H</span>
  <span>Delete: D</span>
  <a rel="ar" href="/assets/engine.usdz">iOS AR</a>
  <!-- <a href="intent://arvr.google.com/scene-viewer/1.0?file=path_to_obj_local;scheme=https;package=com.google.android.googlequicksearchbox;action=android.intent.action.VIEW;S.browser_fallback_url=https://thinktecture.com/max-schulte;end;">Android AR (Not Working)</a> -->
</div>
<canvas #ref></canvas>
