ul {
  width: fit-content;
  padding-left: 0;
}

li {
  border-bottom:#cdcdcd solid 1px;
  cursor: pointer;
  margin: 0.7rem;
  padding: .5rem;
  list-style: none;
  transition: .1s;
}

li:hover {
  border-bottom: transparent solid 1px;
  background-color: skyblue;
  border-radius: 3px;
  transition: .3s;
  box-shadow: rgba($color: #000000, $alpha: .3) 3px 3px 10px ;
  z-index: 10;
  margin: 0.7rem 0.3rem;
  padding: 0.5rem 0.9rem;
}
